<!DOCTYPE html>
<head>
    <title>Pastebin – posativ.org</title>
    <meta http-equiv="content-type" content="text/html;" charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>
{% set languages = "Python Ruby Perl PHP Scala XML HTML CSS Markdown Django JSON JavaScript CoffeeScript ActionScript VBScript HTTP Lua Delphi Java C++ Vala C# SQL Smalltalk Lisp Ini Apache Nginx Diff DOS Bash CMake Axapta 1C VHDL Parser3 TeX Haskell Erlang Rust Matlab R" %}
<body>
    <div id="page">
        <div id="header">
            <h1>Paste it</h1>
            <!-- <a
            href="http://posativ.org/foo/accentualpiecemeal.php">loving-legofmutton</a>
            -->
        </div>
        <div id="content">
            <h2>New Paste</h2>
        </div>
        <form action="/" method="post" enctype="multipart/form-data">
            <p>
                <textarea name="code" rows="10" cols="80"></textarea>
            </p>
            <p>
                <label for="lang">Language:</label>
                <select id="lang" name="lang">
                    <option value="guess">Automatically</option>
                    <option value="no-highlight">None</option>
                    {%- for lang in languages.split() %}
                    <option value="{{ lang }}">{{ lang }}</option>
                    {%- endfor %}
                </select>
                <input type="submit" value="Paste!" />

                <span class="spacer">|</span>

                <input type="checkbox" name="private" />
                <label for="private">private</label>

<!--                 <span class="spacer">|</span>

                <input type="checkbox" name="lineos" />
                <label for="lineos">line numbers</label> -->

                <input id="human" name="human" type="checkbox" />
                <input id="tos" name="tos" type="checkbox" />
            </p>
        </form>
    <div style="display: none;"><a
    href="http://posativ.org/foo/accentualpiecemeal.php">loving-legofmutton</a></div>
    </div>
    <footer>
        <p>Stolz getragen von <a href="http://werkzeug.pocoo.org/">werkzeug</a>,
        <a href="http://jinja.pocoo.org/">Jinja2</a> und
        <a href="http://softwaremaniacs.org/soft/highlight/en/">highlight.js</a>.</p>
    </footer>
</body>
